@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap');

    p{
        font-family: 'Open Sans', sans-serif;
    }

    h1{
        font-family: 'Lato', sans-serif;
    }

    body {
        background-color: #2c2f33;
        color: white;
    }

    a {
        color: #7289da;
    }